body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blueviolet;
}

.EmojiSearch {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
}
.Emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.emojis {
  display: flex;

  flex-direction: column;
}

.EmojiData hr {
  width: 100%;
}

.Emoji input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.dataItem {
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.dataItem::-webkit-scrollbar {
  display: none;
}

.dataItem .result {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
}
li:hover {
  background-color: lightgray;
}
hr {
  width: 100%;
}
p {
  margin-bottom: 10px;
}
